body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiAvatar-img {
  width: auto !important;
  height: auto !important;
}

body {
  font-family: 'roboto', sans-serif;
  text-align: left;
  margin: 0;
}
/* header styles */
.header a:hover{
text-decoration: none;
color : #14bf98 !important
}
.header a{
  color : inherit;
  font-weight: 900;
}

/* banner styles */
.banner img{
width : 100%;
}


.row{
  margin: 0 !important;
}

/* about styles */
.whatido {
  padding: 1rem 0;
}

.about h1{
  color: #14bf98
}
.centerColumn{
  background-color: #020235;
  color: #14bf98 !important;
  padding: 0 0 2% 0;
  width: 100%
}
#skills{
  background-color: #020235;
  width: 100%
}
.centerColumn h2{
  color: #ffffff !important;
}

.centerColumn span{
  margin-bottom: 10px !important;
}
.centerColumn .heading{
  display: flex;
  margin-top: 10%;
}

.centerColumn .heading .tag{
  background-color: #14bf98;
  padding: 12px 17px;
  border-radius: 20px;
  margin-right: 20px;
  color : #ffffff;
  font-weight: 900;
  font-size: 14px;
}
.centerColumn span{
 font-size: 14px;
}

.centerColumn p{
  margin-top: 20px;
  color: #14bf98 !important

}
/* skills styles */
.MuiLinearProgress-bar{
  background-color: #14bf98 !important;
}

/* footer styles */
.footer{
  background-color: #020235;
  color: #ffffff
}
.footer p{
  color: #c2c2c2;
}
.social{
  text-align: center;
  display: flex;
  justify-content: center;
}

.introduction{
  color: #14bf98;
  text-align: center;
}
@media only screen  and (max-width: 567px){
  .introduction{
    padding: 30% 0 10% 0;
  }
  .centerColumn .heading{
    display: flex;
    font-size: 5vw;
    margin-top: 10%;
  }
  .centerColumn .heading b{
    padding: 10px 0;

  }
}
@media only screen  and (min-width: 568px){
  .introduction{
    padding: 10rem 0 7rem 0;
  }
  .centerColumn .heading{
    display: flex;
    font-size: 2vw;
    margin-top: 10%;
  }
}
.introduction h1{
  font-size: 4vw;
  margin-bottom: 0 !important;
}
.about{
  padding-top: 2%;
}

/* projects */
.projectCard{
  height: 100%;
  padding: 10px;
  margin-top: 20px;
}
.projects .heading{
  font-size: 5vh;
  color: #14bf98
}
.projectCard a:hover{
  text-decoration: none;
}
.projectCard .cardInfo:hover{
background-color: none !important;
}
.websites{
  padding: 4% 0 ;
  width: 100%;
}
.cardFooter{
  background-color: #dfdfdf;
}
.projects{
  margin: 0 auto;
}
.cardInfo{
  background-color: #f5f4f4!important;
  border: 1px solid rgb(224, 224, 224)
}

.projectCard .cardFooter a:hover{
  color: #14bf98 !important;
  text-decoration: none;
  background-color: none !important;
}
.cardFooter a span{
  color: #020235 !important
}
.more{
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding :  1% 10%;
  color : #ffffff;
  margin-top: 3%;
  background-color: #14bf98;
}
.more:hover{
  background-color: #020235;
}